.aboutitems{
    /* height: 10vh; */
    /* background: #1b1919; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    padding : 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.items{
    list-style: none;
    width: 80vw;
    justify-content: flex-end;
    margin-right: 8rem;
    padding: 30px;
}

.aboutitems :hover{
    background-color: yellow;
}
.h2{
    color: yellow;
}

#p{
    color : grey;
}
.it{
    display: flex;
}

.list{
    list-style-image: url("../images/tickforlist.png");
    color: yellow;
    text-align: left;
    font-size: 17px;
    padding-left: 15px;
}

.listitems{
    padding : 5px;
}
.text{
    font-size: 17px;
}
.container{
    width : 600px;
    padding-left: 150px;
    padding-right: 150px;
}

.talks{
    padding-top: 200px;
    padding-left: 480px;
    padding-bottom: 200px;
}
.center{
    padding-left: 130px;
}
.homematter{
    color : #444444;
    width: 750px;
    padding-left: 400px;
    font-style: italic;
    padding-top: 40px;
}
.carousel{
    /* padding-left: 10px; */
    padding-top: 50px;
    height: 80%;
    width : 90%;
}

button.rec-dot{
    background-color: rgba(199, 235, 16, 0.411);
   height : 2px;
   width : 40px;
  }
  