.inditem{
    /* height: 200px; */
    padding: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    width : 370px;
    transition: transform 500ms;
}

.Whyitems{
    /* font-size: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 500px; */
    padding : 50px;
    padding-left: 100px;
    list-style: none;
    
}
.Whyitems :hover{
    background-color: #ffea07;
    color: black;
    transform : scale(1.08);
}
.logo{
    /* color: white; */
    text-decoration: none;
    /* font-size: 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 110px;
    width: 10rem;
   
}
.whychoose{
    padding-left: 500px;
}
.cent{
    padding-left: 50px;
}
.choose{
    color: yellow;
}